html,
body {
  height: 100%;
}

.canvas-div {
  display: flex;
  padding: 120px;
  justify-content: center;
}

#canvas {
  border: 5px solid black;
}

#audio {
  position: relative;
  top: 570px;
  right: 40px;
  height: 30px;
}
